.page {
  box-sizing: border-box;
  color: #e5e5e5;
  background-color: #000;
  font-family: Inter, Arial, sans-serif;
  margin: 0 auto;
  max-width: 1280px;
  min-height: 100vw;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
